.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色遮罩 */
    z-index: 1000; /* 设置一个较大的z-index确保遮罩在其他元素之上 */
  }
  
  .mask.visible {
    display: block;
  }

.slider{
  position: fixed;
  top: -500px; /* 初始位置在页面顶部之外 */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 100px;
  animation: slideFromTop 0.5s ease-in-out forwards; /* 使用动画效果 */
}

@keyframes slideFromTop {
  0% {
    top: -500px; /* 初始位置在页面顶部之外 */
  }
  100% {
    top: calc(50% - 50px);
  }
}