.Wrapper{
    display: flex;
    flex-direction: column;
    width: 1100px;
    align-items: center;
    margin: 30px;
    .ContentWrapper{
        width: 1100px;
        height: 740px;
        overflow: hidden;
        .item{
            height: 200px;
            display: flex;
            margin-bottom: 20px;
            border-bottom: 1px solid #3333;
            padding: 10px;
            padding-bottom: 20px;
            .content{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;                
                margin-right: 20px;
                color: #333;
                h3{
                    color: black;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical; 
                }
                h4{
                    color: #969696;
                }
                .imgBox{
                    width: 300px;
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
    .bottom{
        margin-top: 10px;
    }
}