.NavBarWrapper{
    width: 100vw;
    height: 60px;
    line-height: 60px;
   // background-color: rgb(243, 9, 9);
    box-shadow: inset;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    .words{
        width: 180px;
        display: flex;
        font-size: 17px;
        color: white;
        justify-content: space-around;
        cursor: pointer;
    }
}