.wrapper{
    height: 570px;
    .imgBox{
        position: relative;
        position: relative;
        width: 100%;
        height: 570px;
        overflow: hidden;
        img{
            z-index: -999;
            margin: 0;
            color: '#fff';
            text-align: center;
            background: #364d79;
            position: absolute;
            height: 570px;
            left: 50%;
            transform: translate( -50%, 0);
            width: 100%;
        }
    }
}


    
