.loginWrapper{
    margin: 0 auto;
    width: 450px;
    height: 300px;
    border: 2px #969696 solid;
    margin-top: 130px;
    //border-radius: 20px;
    display: flex;
    text-align: center;
    .login{
        padding:60px 30px 20px 80px ;
        
    }
}