.wrapper{
    position: absolute;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    .container{
        align-items: flex-start;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        >div{
            flex: 1;
        }
        .card{
            width: 30vw;
            height: 45vh;
            background-color: white;
            position: absolute;
            border-radius: 5px;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;                
            
            .cardTittle{
                font-size: 17px;
                width: 100%;
                position: absolute;
                bottom: 15px;
                padding: 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;   
                cursor: pointer; 
                background-color: rgba(187, 185, 185, 0.3);
            }
            .cardSync{
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .des{
                font-size: 12px;
            }
            .content{
                font-size: 14px;
                color: #333;
            }
        }
    }
}