.Wrapper{
    width: auto;
    height: 80vh;
    overflow: hidden;
    box-sizing: border-box;
    .DataContent{
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: blue;
        .left{
            flex: 2;
            height: 500px;
            overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }    
        }
        .dora{
            flex: 1;
            height: 400px;
        }
    }
    
}