.Wrapper{
    width: auto;
    height: 600px;
    overflow: hidden;
    .DataContent{
        display: flex;
        justify-content: center;
        align-items: center;
        .left{
            flex: 1;
            height: 400px;
            overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }    
        }
        .dora{
            height: 500px;
            flex: 1;
        }
    }
    
}