.Wrapper{
    width: auto;
    height: 80vh;
    overflow: hidden;
    box-sizing: border-box;
    .DataContent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        //background-color: blue;
        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            height: 600px;
            // overflow: hidden;
            &::-webkit-scrollbar{
                display: none;
            }    
            .one{
                flex: 1;
            }
            .two{
                flex: 4;
            }
        }
        .dora{
            flex: 1;
            height: 500px;
        }
    }
    
}