.HomeWrapper{
    height: 100vh;
    overflow: hidden;
    .sider{
       height: 100vh;
       overflow: hidden;
       background-color: #780303;

        .title{  
            height: 60px;
            color: white;
            line-height: 60px;
            font-size: 20px;
            font-weight: bold;
        }
        .menu{
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            justify-content: center;
            background-color: #be2f2f;
            // *{
            //     background-color: #b80505 !important;
            // }
            // *:hover{
            //     background-color: #b00404 !important;
            // }
        }
    }
}
  
  