.Wrapper{
    height: 600px;
    display: flex;
    flex-direction: column;
    .header{
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-end;
        padding-right: 35px;
        .addBtn{
            width: 100px;
            background: red;
            color: white;
            
        }
    }
}
.list{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    &::-webkit-scrollbar{
        display: none;
    }
    .postsList{
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex: 1;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}